* {
    box-sizing: border-box;
    font-family: beosupreme, Helvetica, LexendDeca-Regular;
}

body {
    margin: 0;
    padding: 0;
}

.container-main {
    display: flex;
}

.sidebar-left {
    flex-basis: 20%;
}

.sidebar-right {
    flex-grow: 1;
    background: #f7f7f8;
}

.header {
    background: blue;
    height: 60px;
}

.header p {
    color: white;
}