* {
    box-sizing: border-box;
    font-family: beosupreme, Helvetica, LexendDeca-Regular;
}

body {
    background: #f2f2f2;
    width: 600px;
    margin: 0 auto;
}

header a {
    display: block;
    margin-bottom: 0px;
}

header img {
    width: 600px;
}

.main-top {
    background: #111111;
    text-align: center;
    padding-bottom: 0px;
}


.title-first {
    color: #ffffff;
    padding: 0 40px;
}

.h1 {
    font-size: 24px;
    font-weight: normal;
    padding: 30px 0 20px;
    margin: 0;
}   

.p {
    font-size: 16px;
    margin: 0;
    padding: 0 0 30px;
    line-height: 24px;

}

.button-yelow {
    background: #ffc356;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 50px;
    letter-spacing: 0.1px;
    width: 240px;
    padding: 10px 20px;
    transition: all 0.5s ease;
    margin-bottom: 40px;
}

.title-body {
    text-align: center;
    padding: 0 40px;
    background: #ffffff;
}

.title-body p {
    color: #737373;
}

.title-body p {
    padding-bottom: 60px;
}

.section__container {
    display: flex;
}


.item-img img {
    width: 300px;
}


.item-text {
    background: #ebe8e5;
    display: table;
    text-align: center;
    width: 300px;
}

.item-title {
    display: table-cell;
    vertical-align: middle;
}


.item-title button {
    width: 220px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ebe8e5;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    background: #000000;

}

.map-container {
    text-align: center;
}

.map-container img {
    width: 110px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-container button {
    margin-bottom: 60px;
}

.hr {
    border: none;
    border-top: 0.5px solid #ffffff;
}

.utp {
}

.utp-body {
    padding-top: 30px;
}

.utp__row {
    display: flex;
}

.utp__column {
    flex: 0 0 33.333%;
    padding: 0 15px;
}

.item-utp {
    text-align: center;
}

.item-utp__icon img{
    width: 40px;
    padding-bottom: 20px;
}

.item-utp__text {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 10px;
}

.logo-title {
    display: flex;
    padding-top: 40px;
}

.logo-title img {
    width: 60px;
    display: block;
    margin: 0px 200px 0 60px;

}

h2 {
    color: white;
    font-size: 20px;
    margin: 0 0 60px 0;
    line-height: 28px;
    font-weight: normal;
}



